* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */
@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('/fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
        url('/fonts/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('/fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
        url('/fonts/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Standard';
    src: url('/fonts/standard-book-webfont.woff2') format("woff2"),
        url('/fonts/standard-book-webfont.woff') format("woff");
}

body {
    display: flex;
    font-family: 'Standard', sans-serif;
    flex-direction: column;
    font-size: 1rem;
    margin: 20px;
}

header {
    display: flex;
}

header div {
    flex: 0 0 25%;
}

h1,
h2 {
    font-family: 'libre_baskervilleregular', serif;
    font-size: 1rem;
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline solid black 2px;

}

img {
    width: 100%;
    height: auto;
}

#ab {
    flex: 0 0 10%;
}

#desc {
    flex: 1;
    line-height: 1.2;
    padding-right: 10px;

}

.extra p {
    font-family: 'libre_baskervilleregular', serif;
    padding-bottom: 0.2em;
}

header p,
.ita {
    font-family: 'libre_baskervilleitalic', serif;
}


figcaption {
    font-size: 0.9rem;
    padding-right: 3em;
}

.pad {
    padding-left: 20px;
}


section.work {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

section.work div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-bottom: 40px;
}

.extra {
    display: grid;
    grid-template-columns: 35% 1fr;
    padding-top: 4rem;
}


footer {
    font-size: 0.8em;
    color: #363636;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

}

.label:after {
    content: '';
}

.label:hover:after {
    content: ' Made with ♡.';
}

@media(max-width: 900px) {

    header {
        flex-direction: column;
    }

    #ab {
        padding-top: 20px;
    }

    .about {
        position: inherit;
        width: 88vw;
    }


    section.work div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 20px;

    }

    img {
        max-height: none;
        width: 100%;
        max-width: 800px;
    }

    .pad,
    .extra div {
        padding-left: 0;
        padding-bottom: 20px;
    }

    .extra {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 4rem;
    }

    footer {
        position: relative;
        padding: 0;
    }
